.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: white;
}

.footerInfo{
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: white;
}

.navigationBar{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
  overflow: hidden;
  background: white;
}

.navigationBar h3{
  float: left;
  display: block;
  margin: 0;
  padding-left: 10px;
  padding-top: 14px;
}

.navigationBar a{
  float: right;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.navigationBar .loggInn{
  background-color: #187bcd;
  color: white;
}

.navigationBar .loggInn:hover{
  background-color: #1167b1;
  color: white;
}

.navigationBar a:hover{
  background-color: #555;
  color: white !important;
}

.navigationBar a.active{
  color: #187bcd;
}

header{
  background: lightgrey;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 70px;
}