.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #F0F0F0;
}

main{
  margin: 20px;
}

main.hjem{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.footerInfo{
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: white;
}

.navigationBar{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
  overflow: hidden;
  background: white;
}

.navigationBar h3{
  float: left;
  display: block;
  margin: 0;
  padding-left: 50px;
  padding-top: 14px;
  font-weight: bold;
}

.navigationBar a{
  float: right;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.navigationBar .loggInn{
  background-color: #187bcd;
  color: white;
}

.navigationBar .loggInn:hover{
  background-color: #1167b1;
  color: white;
}

.navigationBar a:hover{
  background-color: #555;
  color: white !important;
}

.navigationBar a.active{
  color: #187bcd;
}

header{
  background: lightgrey;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 70px;
  margin-bottom: 20px;
}

section{
  background: lightgrey;
  padding: 200px;
}

section.hjemKontorer{
  grid-area: 1 / 1 / 2 / 2;
}

section.hjemKontakt{
  grid-area: 1 / 2 / 2 / 4;
}

section.hjemArtikkler{
  grid-area: 2 / 1 / 3 / 4;
}

form{
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  width: 60%;
  display: inline-block;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 50px;
}